@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply bg-BtnBG border border-Stroke drop-shadow-md text-text px-8 max-h-12 min-h-10 m-4 rounded-lg
  hover:bg-BlueBG
  active:text-BlueBG active:bg-Stroke;
}

.input {
  @apply bg-white border border-Stroke text-text shadow-md rounded-lg max-h-12 min-h-10 m-4 p-4
  active:bg-BlueBG;
}

.switch {
  @apply bg-BlueBG;
}

.shadow-up {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.15);
}
